.Green {
  color: green;
}

.Yellow {
  color: orange;
}

.Red {
  color: red;
}

body {
  background-image: url('http://sfj70.typepad.com/life_in_the_mind_of_a_mod/images/2007/12/31/cold_2.jpg');

}
font {
  color: yellow;
}
